<mat-tab-group>
  <!-- TAB 1: Áreas Funcionales -->
  <mat-tab label="Áreas Funcionales">
    <div class="tab-content">
      <button class="btn btn-primary" (click)="navigateToNewArea()">
        Agregar Área Funcional
      </button>

      <table class="table">
        <thead>
          <tr>
            <th>Nombre Área</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let area of areasFuncionales">
            <td>{{ area.nombre }}</td>
            <td>
              <button class="btn btn-tree" (click)="editArea(area.id)">
                Editar
              </button>
              <button class="btn btn-danger" (click)="deleteArea(area.id)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>

  <!-- TAB 2: Bodegas -->
  <mat-tab label="Bodegas">
    <div class="tab-content">
      <button class="btn btn-primary" (click)="navigateToNewBodega()">
        Agregar Bodega
      </button>

      <table class="table">
        <thead>
          <tr>
            <th>Nombre Bodega</th>
            <!-- Sección o Patio -->
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bodega of bodegas">
            <td>{{ bodega.nombre }}</td>
            <td>
              <button class="btn btn-secondary" (click)="editBodega(bodega.id)">
                Editar
              </button>
              <button class="btn btn-Tree" (click)="manageSecciones(bodega.id)">
                Gestionar Secciones
              </button>
              <button class="btn btn-danger" (click)="deleteBodega(bodega.id)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
