<div class="container">
  <app-logo-header></app-logo-header>
  <app-menu></app-menu>
  <div class="body">
    <div class="content">
      <div class="title-bar">
        <h2>Equipo</h2>
        <button class="generate-btn">Generar</button>
      </div>

      <hr />

      <div class="form-grid">
        <div class="form-group">
          <label>Nombre</label>
          <input type="date" />
        </div>

        <div class="form-group">
          <label>Descripcion</label>
          <input type="text" />
        </div>

        <div class="form-group">
          <label>Modelo</label>
          <input type="text" />
        </div>

        <div class="form-group">
          <label>N.Serie</label>
          <input type="text" />
        </div>

        <div class="form-group">
          <label>Ubicacion</label>
          <input type="text" />
        </div>

        <div class="form-group">
          <label>Fabricante</label>
          <input type="text" />
        </div>

        <div class="form-group">
          <label>Marca</label>
          <input type="text" />
        </div>

        <div class="form-group">
          <label>Funcion</label>
          <input type="text" />
        </div>

        <div class="form-group">
          <label>Peso</label>
          <input type="number" />
        </div>

        <div class="form-group">
          <label>Cilindraje</label>
          <input type="number" />
        </div>

        <div class="form-group">
          <label>Potencia CV</label>
          <input type="number" />
        </div>

        <div class="form-group">
          <label>Ancho Cm</label>
          <input type="text" />
        </div>

        <div class="form-group">
          <label>Alto</label>
          <input type="number" />
        </div>

        <div class="form-group">
          <label>Largo</label>
          <input type="number" />
        </div>

        <div class="form-group">
          <label>Capacidad </label>
          <input type="number" />
        </div>

        <div class="form-group">
          <label>Año de fabricacion</label>
          <input type="date" />
        </div>

        <div class="form-group">
          <label>Caracteristicas</label>
          <input type="text" />
        </div>

        <div class="form-group">
          <label>Seccion</label>
          <input type="text" />
        </div>
      </div>
    </div>
  </div>
</div>
