<div class="container">
        <app-logo-header></app-logo-header>
        <app-menu></app-menu>

  
    <div class="content">
      <div class="title-bar">
        <h2>Equipo</h2>
        <button  class="generate-btn">Generar</button>
      </div>
  
      <hr />
  
      <div class="form-grid">
        <div class="form-group">
          <label>Fecha inicio</label>
          <input type="date" />
        </div>
  
        <div class="form-group">
          <label>Fecha fin</label>
          <input type="date" />
        </div>
  
        <div class="form-group">
          <label>Equipo</label>
          <input type="text"  />
        </div>
  
        <div class="form-group">
          <label>N. Actividad</label>
          <input type="text"  />
        </div>
      </div>
    </div>
  </div>
  